.settings/
.cproject
.cwGeneratedFileSetLog
.project
.svn/
.

*.suo
*.opendb
*.db
*.sbr
*.obj
*.o
*.tlog
*.lastbuildstate
*.bsc
*.log
*.pdb
*.elf
*.hex
*.map
*.srec
*.ilk
*.idb
Applications/uTaskerV1.4/GNU_Kinetis/uTaskerV1.4.bin
Applications/uTaskerV1.4/GNU_Kinetis/uTaskerV1.4_BM.bin
Applications/uTaskerV1.4/Simulator/uTasker___Win32_uTasker_Kinetis_plus_GCC_build/uTasker.res
Applications/uTaskerV1.4/Simulator/uTasker___Win32_uTasker_Kinetis_plus_GCC_build/uTaskerKinetis.exe
*.s19
Applications/uTaskerSerialBoot/GNU_Kinetis/uTaskerSerialBoot.bin
Applications/uTaskerSerialBoot/Simulator/uTasker___Win32_uTasker_Kinetis_plus_GNU_build/uTasker.res
Applications/uTaskerSerialBoot/Simulator/uTasker___Win32_uTasker_Kinetis_plus_GNU_build/uTaskerSerialLoader.exe
Applications/uTaskerBoot/GNU_Kinetis/uTaskerBoot.bin
Applications/uTaskerBoot/Simulator/uTasker___Win32_Win32_Debug_and_GNU_target/uTasker.exe
Applications/uTaskerBoot/Simulator/uTasker___Win32_Win32_Debug_and_GNU_target/uTasker.res
Applications/uTaskerBoot/Simulator/Debug/uTasker.exe
Applications/uTaskerBoot/Simulator/Debug/uTasker.res
Applications/uTaskerSerialBoot/Simulator/Debug/uTasker.res
Applications/uTaskerSerialBoot/Simulator/Debug/uTaskerSerialLoader.exe
Applications/uTaskerV1.4/Simulator/uTasker___Win32_uTasker_Kinetis_build/uTasker.res
Applications/uTaskerV1.4/Simulator/uTasker___Win32_uTasker_Kinetis_build/uTaskerKinetis.exe
*.ini
Applications/uTaskerSerialBoot/Simulator/MEMSTICK0.bin
Applications/uTaskerSerialBoot/Simulator/UART0.txt
Applications/uTaskerSerialBoot/Simulator/USB_Endpoint_00.txt
Applications/uTaskerSerialBoot/Simulator/USB_Endpoint_02.txt
uTaskerSerialLoader_FLASH/
uTaskerBM_loader/
*.lst
uTaskerV1.4_FLASH/
uTaskerV1.4_BM_FLASH/
uTaskerV1.4_RAM/
